#cabeça{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 1%;
    background-color: black;
    border-color: aqua;
    border-radius: 50px;
    color: rgb(1, 245, 172);
}

#oi{
    display: flex;
    justify-content: left;
    width: 80%;
    height: 5px;
    padding: 10;
    border: 2cm;
    border-radius: 30px;
    color: rgb(255, 0, 0);
    background-color: black;
}

#oii{

    display: block;
    justify-content: center;
    width: 30%;
    height: 80%;
    padding: 10;
    border: 2cm;
    border-radius: 2%;
    color: rgb(255, 0, 0);
    background-color: black;
}

#pe{

    display: block;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 1%;
    border: 2cm;
    border-radius: 30px;
    color: rgb(255, 0, 0);
    background-color: black;
}

div{
    display: flex;
    width: 500px;
    height: 500px;
    padding: 50px;
    border: 2cm;
    border-radius: 2%;
    color: rgb(255, 0, 0); 
}

#espaço{
    display: flex;
    width: 1px;
    height: 1px;
}
