nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 40px;
    width: 100vw;
    border-radius: 10px;
    margin: 10px;
}

.bigger_container {
    display: flex;
    flex-direction: row;
}

.main_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.right_container {
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

.sections_container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 25vw;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(203, 158, 203);
    height: 25vw;
    width: 45%;
    border-radius: 10px;
    margin: 10px;    
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100%;
    width: 700px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 40px;
    width: 100%;
    margin: 10px;
}

@media (max-width: 500px) {
    aside {
        display: none;
    }
}