body{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}
.nav_bar{
    display: flex;
    background-color: rgb(187, 141, 73);
    width: 100vw;
    height: 10vh;
}
.conteudo{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.head{
    margin: 2vh;
    height:35%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(90, 0, 0);
}
.lateral{
    margin: 2vh;
    height:80vh;
    width: 20vw;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(223, 82, 0, 0.452);
}
.sec{
    margin: 2vh;
    height:35%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(82, 68, 68);
}
.foot{
    display: flex;
    background-color: rgb(184, 142, 80);
    width: 100vw;
    height: 10vh;
}
@media screen and (max-width: 750px){
    .flex{
        margin: 0;
        padding: 0;
    }
    .conteudo{
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .head{
        height: 20%;
        width: 95%;
    }
    .lateral{
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
    .sec{
        height: 20%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}    
